/** {
  border-color: white;
  border-style: dashed;
  border-width: 1px;
}*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

html,
body {
  height: 100%;
  background: url('../images/bg_dark.png');
  background-size: 40px 40px;
  background-repeat: repeat;
}
body {
  color: #fff;
  /*text-align: center;*/
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

.btn-success {
  color: #fff;
  background-color: #FFCE54;
  border-color: #F6bb42;
}

.btn-success:hover {
  color: #fff;
  background-color: #F6bb42;
  border-color: #FFCE54;
}

.img-rounded-bg {
  border-radius: 6px;
  height: 140px;
  width: 140px;
}

.img-rounded-sm {
  border-radius: 6px;
  height: 44px;
  width: 44px;
}

.score {
  border-radius: 6px;
  border-color: red;
  background-color: red;
  color: white;
  width: 3em;
  height: 50px;
  text-align: center;
  z-index: 1;
}

.score-bg {
  border-radius: 6px;
  background-color: red;
  color: white;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  z-index: 1;
}

.img-container {
  position: relative;
}

.img-container span {
  position: absolute;
  right: 9px;
  top: -4em;
}

.img-achievement-1 {
  height: 44px;
  width:  44px;
  background-color: white;
  border-style: solid;
  border-color: #fffbf1;
  border-radius: 6px;
  border-width: 2px;
}

.img-achievement-2 {
  height: 44px;
  width:  44px;
  background-color: #cccccc;
  border-style: solid;
  border-color: #ffebba;
  border-radius: 6px;
  border-width: 2px;
}

.img-achievement-3 {
  height: 44px;
  width:  44px;
  background-color: #656D78;
  border-style: solid;
  border-color: #e5b94b;
  border-radius: 6px;
  border-width: 2px;
}

.progress-bar {
  background-color: #F6bb42;
}

h4 {
  color: #F6bb42;
}

/*SETTINGS FOR CHARTJS*/
canvas{
  width: 100% !important;
  /*max-width: 800px;*/
  height: 100% !important;
  max-height: 200px;
  /*height: auto !important;*/
}

.right {
    position: absolute;
    right: 0px;
    /*width: 300px;*/
    background-color: #b0e0e6;
}

a {
  color: white;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #F6bb42;
  text-decoration: underline;
}

.description {
  width: 840px;
  font-style: normal;
}

.offset {
  /*padding-top: -200px;*/
  position: relative;
  margin-top: -0.5em;
  font-style: italic;
}