<%if @follow_ach_url_1%>
<img src="/images/outline_earth.png" alt="Lvl. 1" class="img-achievement-1">
<%end%>

<%if @follow_ach_url_2%>
<img src="/images/solid_earth.png" alt="Lvl. 2" class="img-achievement-2">
<%end%>

<%if @follow_ach_url_3%>
<img src="/images/flat_earth.png" alt="Lvl. 3" class="img-achievement-3">
<%end%>

<br>You have <%=@user.followers%> followers<br>
<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: <%=p@progress_bar_followers%>%;">
  <%=@progress_bar_followers.to_i%>%
  </div>
</div>