
<%if @forks_ach_url_1%>
  <img src="/images/outline_fork.png" alt="Lvl. 1" class="img-achievement-1">
<%end%>

<%if @forks_ach_url_2%>
  <img src="/images/solid_fork.png" alt="Lvl. 2" class="img-achievement-2">
<%end%>

<%if @forks_ach_url_3%>
  <img src="/images/flat_fork.png" alt="Lvl. 3" class="img-achievement-3">
<%end%>

<br>Your repositories have been forked <%=@forks_all%>  times<br>
<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: <%=@progress_bar_forks%>%;">
  <%=@progress_bar_forks.to_i%>%
</div>
</div>
