<img src="/images/outline_languages.png" alt="Lvl. 1" class="img-achievement-1">
    <img src="/images/solid_languages.png" alt="Lvl. 2" class="img-achievement-2">
    <img src="/images/flat_languages.png" alt="Lvl. 3" class="img-achievement-3">
    <br>Have used more than 5 languages<br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        100%
      </div>
</div>