<% recent_repos =[] %>

<% @user_repos.each do |i| %>
  <% recent_repos << i[:name] if (i[:updated_at].to_date > (Date.today - 50)) %>
<% end %>

<% recent_repos.each do |i| %>
    <a href= <%= "https://github.com/#{@user.username}/#{i}" %>>
      <%= "#{i}" %>
    </a><br>
<% end %>