<% if @repos_ach_url_1 %>
  <img src="/images/outline_documents.png" alt="Lvl. 1" class="img-achievement-1">
<% end %>

<% if @repos_ach_url_2 %>
  <img src="/images/solid_documents.png" alt="Lvl. 2" class="img-achievement-2">
<% end %>

<% if @repos_ach_url_3 %>
  <img src="/images/flat_documents.png" alt="Lvl. 3" class="img-achievement-3">
<% end %>

<br>You have <%= @user.public_repos %> repositories.<br>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: <%= if @progress_bar_repos.to_i > 100 then 100 else @progress_bar_repos.to_i end %>%; min-width: 2em;">
    <%= if @progress_bar_repos.to_i > 100 then 100 else @progress_bar_repos.to_i end %>%
  </div>
</div>