<h2>Hello, 
  <% if @user %>
    <%= @user.username %>
  <% else %>
    <span style="color: red">Not logged in</span>
  <% end %>
  ('/user/:id')
</h2>

<hr>
<div class="row">
  <div class="col-md-2">
    <br>
    <a href="" class="img-container">
      <img src=<%= @user.avatar_url %> alt=<%= @user.avatar_url %> class="img-rounded-bg">
      <span class="score-bg">
        <!-- %= @user.score % -->
      </span>
    </a>
    <br>
    
    <h4>Location: </h4>
    <p><%= @user.location %></p>

    <h4>Languages: </h4>
    <!-- UPDATE BELOW WITH < > ONCE STORED IN DATABASE -->
    % @user.languages do |language| %
      %= language %
    % end %

    <h4>Belongs to: </h4>
    <a href="/group"><img src="/images/lighthouse.png" alt="..." class="img-rounded-sm"></a>
  </div>
  
  <div class="col-md-5">
    <h2>Achievements</h2>
    <!-- ACCOUNT OPEN ACHIEVEMENT -->
    <img src="/images/outline_open.png" alt="Lvl. 1" class="img-achievement-1">
    <img src="/images/solid_open.png" alt="Lvl. 2" class="img-achievement-2">
    <img src="/images/flat_open.png" alt="Lvl. 3" class="img-achievement-3">
    <br>Have your GitHub account registered longer than x day(s)<br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        100%
      </div>
    </div>

    <!-- LANGUAGES ACHIEVEMENT -->
    <img src="/images/outline_languages.png" alt="Lvl. 1" class="img-achievement-1">
    <img src="/images/solid_languages.png" alt="Lvl. 2" class="img-achievement-2">
    <img src="/images/flat_languages.png" alt="Lvl. 3" class="img-achievement-3">
    <br>Have used more than 5 languages<br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        100%
      </div>
    </div>

    <!-- FOLLOWERS ACHIEVEMENT -->
    <img src="/images/outline_earth.png" alt="Lvl. 1" class="img-achievement-1">
    <img src="/images/solid_earth.png" alt="Lvl. 2" class="img-achievement-2">
    <img src="/images/flat_earth.png" alt="Lvl. 3" class="img-achievement-3">
    <br>Have more than 50 followers<br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        100%
      </div>
    </div>

    <!-- ACTIVE STREAK ACHIEVEMENT -->
    <img src="/images/outline_motherboard.png" alt="Lvl. 1" class="img-achievement-1">
    <img src="/images/solid_motherboard.png" alt="Lvl. 2" class="img-achievement-2">
    <img src="/images/flat_motherboard.png" alt="Lvl. 3" class="img-achievement-3">
    <br>Have an active streak longer than 10 days<br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        100%
      </div>
    </div>

    <!-- REPOSITORIES ACHIEVEMENT -->
    <img src="/images/outline_documents.png" alt="Lvl. 1" class="img-achievement-1">
    <img src="/images/solid_documents.png" alt="Lvl. 2" class="img-achievement-2">
    <img src="/images/flat_documents.png" alt="Lvl. 3" class="img-achievement-3">
    <br>Have more than 10 respositories<br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        100%
      </div>
    </div>

    <!-- COMMITS ACHIEVEMENT -->
    <img src="/images/outline_seat_belt.png" alt="Lvl. 1" class="img-achievement-1">
    <img src="/images/solid_seat_belt.png" alt="Lvl. 2" class="img-achievement-2">
    <img src="/images/flat_seat_belt.png" alt="Lvl. 3" class="img-achievement-3">
    <br>Have more than 50 average commits per week<br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        100%
      </div>
    </div>

    <!-- STARS ACHIVEMENT -->
    <img src="/images/outline_wizard.png" alt="Lvl." class="img-achievement-1">
    <img src="/images/solid_wizard.png" alt="Lvl." class="img-achievement-2">
    <img src="/images/flat_wizard.png" alt="Lvl." class="img-achievement-3">
    <br>Have more than 10 total stars<br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        100%
      </div>
    </div>
  </div>

  <div class="col-md-5">
  <h2>Popular Repositories: </h2>
  </div>
</div>