<h2>Hello, @user.first_name ('/user/:id')</h2>
<hr>
<div class="row">
  <div class="col-md-2">
    <br>
    <a href="" class="img-container">
      <img src="/images/jeff.jpeg" alt="..." class="img-rounded-bg">
      <span class="score-bg">28</span>
    </a>
    <br>
    
    <h4>Belongs to: </h4>
    <a href=""><img src="/images/lighthouse.png" alt="..." class="img-rounded-sm"></a>
  </div>
  
  <div class="col-md-5">
    <h2>Achievements</h2>
    <img src="/images/outline_open.png" alt="..." class="img-achievement-1">
    <img src="/images/solid_open.png" alt="..." class="img-achievement-2">
    <img src="/images/flat_open.png" alt="..." class="img-achievement-3"><br>
    Have your GitHub account registered longer than a year<br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        100%
      </div>
    </div>

    <img src="/images/outline_earth.png" alt="..." class="img-achievement-1">
    <img src="/images/solid_earth.png" alt="..." class="img-achievement-2">
    <img src="/images/flat_earth.png" alt="..." class="img-achievement-3"><br>
    Have more than 50 followers<br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        100%
      </div>
    </div>

    <img src="/images/outline_motherboard.png" alt="..." class="img-achievement-1">
    <img src="/images/solid_motherboard.png" alt="..." class="img-achievement-2">
    <img src="/images/flat_motherboard.png" alt="..." class="img-achievement-3"><br>
    Have an active streak longer than 10 days<br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        100%
      </div>
    </div>

    <img src="/images/outline_documents.png" alt="..." class="img-achievement-1">
    <img src="/images/solid_documents.png" alt="..." class="img-achievement-2">
    <img src="/images/flat_documents.png" alt="..." class="img-achievement-3"><br>
    Have more than 10 repositories<br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        100%
      </div>
    </div>    
  </div>

  <div class="col-md-5">
  <h2>Popular Repositories: </h2>
  </div>
</div>