<h2>Lighthouse Labs ('/group/:id')</h2>
<hr>
<div class="row">
  <div class="col-md-2">
    <br>
    <a href=""><img src="/images/lighthouse.png" alt="..." class="img-rounded-bg"></a>
    <br>

    <h4>Average Score: </h4>
    <span class=".score">42</span>
    <h4>Members: </h4>

    <a href=""><img src="/images/jeff.jpeg" alt="..." class="img-rounded-sm"></a>
    <a href=""><img src="/images/phil.jpeg" alt="..." class="img-rounded-sm"></a>
    <a href=""><img src="/images/beth.jpeg" alt="..." class="img-rounded-sm"></a>

    <a href=""><img src="/images/jeff.jpeg" alt="..." class="img-rounded-sm"></a>
    <a href=""><img src="/images/phil.jpeg" alt="..." class="img-rounded-sm"></a>
    <a href=""><img src="/images/beth.jpeg" alt="..." class="img-rounded-sm"></a>

    <a href=""><img src="/images/jeff.jpeg" alt="..." class="img-rounded-sm"></a>
    <a href=""><img src="/images/phil.jpeg" alt="..." class="img-rounded-sm"></a>
    <a href=""><img src="/images/beth.jpeg" alt="..." class="img-rounded-sm"></a>

    <a href=""><img src="/images/jeff.jpeg" alt="..." class="img-rounded-sm"></a>
    <a href=""><img src="/images/phil.jpeg" alt="..." class="img-rounded-sm"></a>
    <a href=""><img src="/images/beth.jpeg" alt="..." class="img-rounded-sm"></a>

    <a href=""><img src="/images/jeff.jpeg" alt="..." class="img-rounded-sm"></a>
    <a href=""><img src="/images/phil.jpeg" alt="..." class="img-rounded-sm"></a>
    <a href=""><img src="/images/beth.jpeg" alt="..." class="img-rounded-sm"></a>

    <a href=""><img src="/images/jeff.jpeg" alt="..." class="img-rounded-sm"></a>
    <a href=""><img src="/images/phil.jpeg" alt="..." class="img-rounded-sm"></a>
    <a href=""><img src="/images/beth.jpeg" alt="..." class="img-rounded-sm"></a>
  </div>
  
  <div class="col-md-10">
    <h2>Leaderboard</h2>
    <table class="table">
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Achievements</th>
        <th>Score</th>
      </tr>

      <tr>
        <td>1</td>
        <td>someonetookit</td>
        <td>Jeff</td>
        <td>Shih</td>
        <td>
          <img src="/images/flat_open.png" alt="Lvl. 3" class="img-achievement-3">
          <img src="/images/outline_earth.png" alt="Lvl. 1" class="img-achievement-1">
          <img src="/images/flat_motherboard.png" alt="Lvl. 3" class="img-achievement-3">
          <img src="/images/solid_documents.png" alt="Lvl. 2" class="img-achievement-2">
          <img src="/images/flat_seat_belt.png" alt="Lvl. 3" class="img-achievement-3">
          <img src="/images/solid_wizard.png" alt="Lvl. 2" class="img-achievement-2">
        </td>
        <td>X</td>
      </tr>

      <tr>
        <td>2</td>
        <td>philemonlloyds</td>
        <td>Philemon</td>
        <td>Selvaraj</td>
        <td>
          <img src="/images/flat_open.png" alt="Lvl. 3" class="img-achievement-3">
          <img src="/images/flat_earth.png" alt="Lvl. 3" class="img-achievement-3">
          <img src="/images/solid_motherboard.png" alt="Lvl. 2" class="img-achievement-2">
          <img src="/images/flat_documents.png" alt="Lvl. 3" class="img-achievement-3">
          <img src="/images/flat_seat_belt.png" alt="Lvl. 3" class="img-achievement-3">
          <img src="/images/flat_wizard.png" alt="Lvl. 3" class="img-achievement-3">
        </td>
        <td>X</td>
      </tr>

      <tr>
        <td>3</td>
        <td>bhammett</td>
        <td>Beth</td>
        <td>Hammett</td>
        <td>
          <img src="/images/outline_open.png" alt="Lvl. 1" class="img-achievement-1">
          <img src="/images/solid_earth.png" alt="Lvl. 2" class="img-achievement-2">
          <img src="/images/flat_motherboard.png" alt="Lvl. 3" class="img-achievement-3">
          <img src="/images/flat_documents.png" alt="Lvl. 3" class="img-achievement-3">
          <img src="/images/solid_seat_belt.png" alt="Lvl. 2" class="img-achievement-2">
          <img src="/images/flat_wizard.png" alt="Lvl. 3" class="img-achievement-3">
        </td>
        <td>X</td>
      </tr>
    </table>
  </div>

  <div class="col-md-10">
  <h2>Statistics (Graphs & Charts)</h2>
  </div>
</div>