
<h1>Home Page ('/')</h1>
<h1>Hello, @user.first_name</h1>
<br>
<a href=""><img src="/images/lighthouse.png" alt="..." class="img-rounded-bg"></a>
<a href=""><img src="/images/jeff.jpeg" alt="..." class="img-rounded-bg"></a>
<a href=""><img src="/images/phil.jpeg" alt="..." class="img-rounded-bg"></a>
<a href=""><img src="/images/beth.jpeg" alt="..." class="img-rounded-bg"></a>
<br><br>
Automatically associate user with lighthouse-labs group if they're part of the organization on GitHub<br>
This will eliminate the need for users to manually join a group or set one up. Everything is automated.
<br><br>
<!-- <a href=""><img src="/images/lighthouse.png" alt="..." class="img-rounded-bg"></a><br> -->
<a href=""><img src="/images/jeff.jpeg" alt="..." class="img-rounded-sm"></a>
<a href=""><img src="/images/phil.jpeg" alt="..." class="img-rounded-sm"></a>
<a href=""><img src="/images/beth.jpeg" alt="..." class="img-rounded-sm"></a>

<hr>
<p>Gastropub deep v bicycle rights, small batch pork belly banjo Kickstarter aesthetic retro cardigan heirloom synth Truffaut. Fanny pack Schlitz iPhone, leggings squid viral artisan farm-to-table mixtape listicle keytar seitan McSweeney's jean shorts. Blog roof party fanny pack, meggings Marfa synth quinoa Echo Park mlkshk jean shorts selfies chia Brooklyn letterpress +1. Godard banjo Tumblr, sustainable fixie freegan disrupt gastropub salvia meh. High Life Vice meditation, photo booth 90's church-key Blue Bottle Williamsburg single-origin coffee roof party. Freegan mlkshk retro, heirloom chia Carles kale chips mumblecore. Locavore American Apparel Austin, authentic selvage meh letterpress mlkshk pug.</p>