<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/images/favicon.ico">

  <title>Git Awesomr</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/custom_template.css">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="/"><span style="font-size: 24px; color:white">Git <span style="color:#FFCE54">Awesomr </span>|</span></a>
        <a class="navbar-brand" href="/"><span style="font-size: 18px; color:white">Profile</span></a>
        <a class="navbar-brand" href="/"><span style="font-size: 18px; color:white">Group</span></a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <button type="submit" class="btn btn-success">Sign in with GitHub <img src="/images/icn_join_w.png" alt="Join" height="20" width="20"></button>
          <button type="submit" class="btn btn-default">Sign out</button>
        </form>
      </div><!--/.navbar-collapse -->

    </div>
  </nav>

    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <!-- LOGIN FORM -->
        <!-- <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div> -->
        <% if @user then %>
        <% else %>
        <a href="/login" class="btn btn-success">Sign in with GitHub <img src="/images/icn_join_w.png" alt="Join" height="20" width="20"></a>
        <%end%>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>


  <div class="container">
    
    <%= yield %>
    
    <!-- <hr> -->
<!--     <footer>
      <p align="right">Insert footer here</p>
    </footer> -->
  </div><!-- /container -->

  <!-- Placed at the end of the document so the pages load faster -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
</body>