<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/images/favicon.ico">

  <title>Git Awesomr</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/custom_template.css">
</head>

<body>
  <% if @user %> <!-- ONLY DISPLAY NAV BAR IF USER IS LOGGED IN -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><span style="font-size: 24px; color:white">Git <span style="color:#FFCE54">Awesomr </span><% if @user %>| <% end%></span></a>      
            <a class="navbar-brand" href="/user"><span style="font-size: 18px; color:white">Profile</span></a>
            <a class="navbar-brand" href="/group"><span style="font-size: 18px; color:white">Group</span></a>
        </div>
        <div id="navbar">
          <form class="navbar-form navbar-right">
              <a href="/logout" class="btn btn-default">Sign out</a>
          </form>
        </div>
      </div>
    </nav>
  <% end %>

  <div class="container">
    <%= yield %>
    <% if @user %> <!-- ONLY DISPLAY FOOTER IF USER IS LOGGED IN -->
      <hr>
      <footer>
        <p align="right">Insert footer here</p>
      </footer>
    <% end %>
  </div>

  <!-- PLACE ALL JS FILES RIGHT BEFORE THE CLOSING BODY TAG, SO THE PAGES LOAD FASTER -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
</body>