<html>
  <head>
  </head>
  <body>
    <p>
      Well, hello there! <% if @user then %> <%= @user.id %> <% else %> Not logged In <% end %>
    </p>
    <p>
      We have the user in the database
    </p>
  </body>
</html>